// $background: #ddd2d4;

// .App {
//     background-color: $background;
//     text-align: center;
//     max-width: 600px;
//     padding: 2em;
//     box-sizing: border-box;
//     border-radius: 2em;
//     margin: 5em auto;
//     min-height: 400px;
// }
// body {
//     background: #282727;
// }
.App {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2em 0;
    height: 100vh;
}
.align-left {
    text-align: left;
}
